@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  float:left;
  display: inline;
}

.App-header {
  background-color: #000040;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding: 20px;
  float:left;
  display: inline;
}

.App-intro {
  font-size: large;
}

.Count{
  width: 30px;
}

.Description{
  max-width: 900px;
}

.DatePicker{
  width: 200px;
}

th{
  width: 20%;
}

.Text-Th{
  width: 40%;
}
